body {
  margin: 0 0;
  background: #f3f3f3;
}

.contain {
  width: 100%;
  max-width: 760px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-family: sans-serif;
  text-transform: uppercase;
  color: #333;
}

#demo {
  background: blue;
  padding: 50px 0;
  border-radius: 10px;
  width: 92%;
  margin: 0 auto;
  height: 200px;
}

#buttons {
  width: 92%;
  margin: 0 auto;
}

button {
  width: 18%;
  margin: 20px 1%;
  float: left;
}